.perspective {
  perspective: 1500px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
  transition: transform 0.8s ease-in-out;
}
